<script src="https://www.wsmtactical.com/skin/frontend/wsm/default/js/jquery.backstretch.min.js"></script>
<script>
	$j(document).ready(function () {
		// Home Page BG Rotation
		$j.backstretch([
			"https://www.wsmtactical.com/skin/frontend/wsm/default/images/bg.jpg", 
			"https://www.wsmtactical.com/skin/frontend/wsm/default/images/bg-snow-seals.jpg",
			"https://www.wsmtactical.com/skin/frontend/wsm/default/images/bg-desert-troops.jpg",
			"https://www.wsmtactical.com/skin/frontend/wsm/default/images/bg-sniper.jpg"
		], {duration: 7500, fade: 2000});

		$j("#slideshow > div:gt(0)").hide();

		setInterval(function() { 
		  $j('#slideshow > div:first')
		    .fadeOut(1000)
		    .next()
		    .fadeIn(1000)
		    .end()
		    .appendTo('#slideshow');
		},  8000);
	});
</script>