<script type="text/javascript" src="https://www.wsmtactical.com/skin/frontend/wsm/default/js/featherlight.js"></script>
<script type="text/javascript" src="https://www.wsmtactical.com/skin/frontend/wsm/default/js/featherlight.gallery.js"></script>
<script type="text/javascript" src="https://www.wsmtactical.com/skin/frontend/wsm/default/js/looper.min.js"></script>
<script>
	$j(document).ready(function(){
		$j('.prod-gal .prod-img').featherlightGallery();

		$j('.looper').looper();

		if ( $j('#customer-reviews div').hasClass('form-add') ) {
	        $j('.no-rating').css('display', 'none');
	    }
	});
</script>