<!-- Top Brands -->
<div class="col-main block-full">

    <div class="col-half pull-left">
        <div class="box-shout warning-dark">
            <span class="glyphicons glyphicons-airplane"></span>
            <div>
                Need fast Shipping?<br>
                <span>Choose Overnight</span>
            </div>
        </div>
    </div>

    <div class="col-half pull-right">
        <div class="box-shout alert-dark">
            <span class="glyphicons glyphicons-comments"></span>
            <div>
                Need Product Support?<br>
                <span><a href="mailto:sales@wsmtactical.com">E-Mail</a> or Call Us @ 1-972-638-7441</span>
            </div>
        </div>
    </div>

</div>