
<?php

$bestSellers = Mage::registry('bestSellers');
$_collectionSize = count($bestSellers);
$_columnCount = 4;

if(!$_collectionSize): ?>

    <p class="note-msg"><?=$this->__('There are no products matching the selection.')?></p>

<?php else: ?>

<div class="block-full content-shade pad-xl filters">
    <?php echo $this->getToolbarHtml() ?>
</div>

<?php // List mode ?>

<?php if($this->getMode()=='list'): ?>

<?php $_iterator = 0; ?>

<div class="category-products pad-xl">
    <ol class="products-list" id="products-list">
        <?php foreach ($bestSellers as $_product): ?>
            <li class="item<?php if( ++$_iterator == $_collectionSize ): ?> last<?php endif; ?>">
                <?php // Product Image ?>
                <a href="<?=$_product['url_path']?>" title="<?=$_product['smallImageLabel']?>" class="product-image"><img src="<?=$_product['smallImage']?>" alt="<?=$_product['smallImage']?>" /></a>
                <?php // Product description ?>
                <div class="product-shop">
                    <div class="f-fix">
                        <?php $_productNameStripped = $_product['name']; ?>
                        <h2 class="product-name"><a href="<?=$_product['url_path']?>" title="<?=$_productNameStripped?>"><?=$_product['name']?></a></h2>
                        <?php if($_product['rattingsSummary']): ?>
                            <?=$_product['reviewsSummary']?>
                        <?php endif; ?>
                        <?=$_product['price']?>

                        <?php if($_product['saleable']): ?>
                            <p><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl(Mage::getModel('catalog/product')->load($_product['entity_id'])) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                        <?php else: ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                        <?php endif; ?>
                        <div class="desc std">
                            <?=$_product['shortDescription']?>
                            <a href="<?=$_product['url_path']?>" title="<?php echo $_productNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
                        </div>
                        <ul class="add-to-links">
                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                <li><a href="<?php echo $this->helper('wishlist')->getAddUrl(Mage::getModel('catalog/product')->load($_product['entity_id'])) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                            <?php endif; ?>
                            <?php if($_compareUrl=$this->getAddToCompareUrl(Mage::getModel('catalog/product')->load($_product['entity_id']))): ?>
                                <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                            <?php endif; ?>
                        </ul>
                    </div>
                </div>
            </li>
        <?php endforeach; ?>
    </ol>
    <script type="text/javascript">decorateList('products-list', 'none-recursive')</script>

    <?php else: ?>

    <?php // Grid Mode ?>




<div class="prod-container">
    <?php $i=0; foreach ($bestSellers as $_product): ?>
        <?php if ($i++%4==0): ?>
            <ul>
        <?php endif ?>
        <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
            <a href="<?=$_product['url_path']?>" title="<?=$_product['smallImageLabel'] ?>" class="product-image"><img src="<?=$_product['smallImage'] ?>" alt="<?=$_product['smallImageLabel'] ?>" /></a>

            <?=$_product['price']?>
            <div class="reduced-inner">MSRP $<?=$_product['msrp']?></div>

            <a href="<?=$_product['url_path']?>" title="<?=$this->stripTags($_product['name'], null, true)?>"><?=$this->stripTags($_product['name'], null, true)?></a>

            <?php if($_product['rattingsSummary']): ?>
                <?=$_product['reviewsSummary']?>
            <?php endif; ?>

            <div class="btn-group side actions">
                <?php if($_product['saleable']): ?>
                    <a href="<?=$this->helper('checkout/cart')->getAddUrl(Mage::getModel('catalog/product')->load($_product['entity_id'])) ?>" title="<?php echo $this->__('Add to Cart') ?>"><span class="glyphicons glyphicons-plus"></span> <?php echo $this->__('Add to Cart') ?></a>
                    <a href="<?=$_product['url_path'] ?>">View</a>
                <?php else: ?>
                    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                <?php endif; ?>

            </div>
        </li>
        <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
            </ul>
        <?php endif ?>
    <?php endforeach ?>
</div>
        <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
    <?php endif; ?>

    <div class="block-full content-shade pad-xl filters pad-top-super">
        <?php echo $this->getToolbarHtml() ?>
    </div>
    </div>
<?php endif; ?>
