<div class="page-sitemap page-flow">
    <div class="page-title">
        <h1><?php echo $this->getTitle() ?></h1>
    </div>
    <div id="sitemap_top_links">
        <?php echo $this->getChildHtml('links') ?>
    </div>

    <div class="pager">

        <p class="amount">
            Items <?=Mage::registry('start')?> to <?=Mage::registry('stop')?> of <?=Mage::registry('total')?> total
        </p>


        <div class="pages">
            <strong>Page:</strong>
            <ol>

                <? if (Mage::registry('prevPage')) {?>
                    <li>
                        <a title="Previous" href="<?=$this->getUrl('top-selling/brands/')?>?page=<?= Mage::registry('page') - 1 ?>">
                            <span class="halflings halflings-triangle-left"></span>
                        </a>
                    </li>
                <?}?>
                <? if (Mage::registry('nextPage')) {?>
                    <li>
                        <a title="Next" href="<?=$this->getUrl('top-selling/brands/')?>?page=<?= Mage::registry('page') + 1 ?>">
                            <span class="halflings halflings-triangle-right"></span>
                        </a>
                    </li>
                <?}?>
            </ol>
        </div>
    </div>

    <?php
    $_items = Mage::registry('brands');
    if(count($_items)):
        ?>
        <ul class="sitemap">
            <?php foreach ($_items as $_item):
                $brand_name = $_item['brand_name'];
                ?>
                <li><a href="<?=$this->getUrl('catalogsearch/advanced/result/') . '?description='.$brand_name ?>"><?=$this->escapeHtml($brand_name)?></a></li>
            <?php endforeach; ?>
        </ul>
    <?php else: ?>
        <p class="note-msg">
            <?php echo $this->__('There are no %s available.', $this->getItemsTitle()); ?>
        </p>
        <script type="text/javascript">
            //<![CDATA[
            if ($('sitemap_top_links') != undefined) {
                $('sitemap_top_links').hide();
            }
            //]]>
        </script>
    <?php endif ?>


    <?php echo $this->getChildHtml('links') ?>

</div>
