// Structure

@mixin contentinner {
	padding: 0;
	color: $c-gray-dark;

	.page-title, .box-title {
        h1, h2, h3 {
            color: $c-black;
        }
    }

    .sub-title {
        color: $c-gray-dark;
    }

    h1, .legend {
	    border-bottom: 1px dotted $c-grey-disabled;
	    padding-bottom: $gap;
	    color: $c-black;
	}

	select, input, h1 {
	    color: $c-black;
	}

	select {
	    padding: $gap-m;
	}

	a {
		font-weight: bold;
		font-style: normal;
	}

	p {
		margin: $gap-vert-m;
	}

	.form-list {
		.control {
			label {
				color: $c-black;
			}
		}
	}

	.scaffold-form {
		.buttons-set {
			.back-link, .button {
				margin-top: 0;
				text-decoration: none;

				a {
					&:hover {
						text-decoration: none;
					}
				}
			}
			.button {
				margin-left: $gap-s;

				@include bp(max-width, $screen-md) {
	                margin-left: 0;
	            }
			}
		}
	}

	.dashboard {
		.box-account {
			background-color: $c-white;
			margin: $gap-xl 0;

			.box-head {
				background-color: $c-gray-dark;
				padding: $gap-xl;

				h2 {
					color: $c-white;
				}

				a {
					color: $c-metal-highlight;
					text-decoration: underline;
				}
			}

			.col2-set {
				padding: $gap-xl;

				.col-1, .col-2 {
					padding-top: 0;

					.box-title {
						h3 {
							border-bottom: 1px dotted $c-gray-dark;
							padding-bottom: $gap-sl;
							margin-bottom: $gap-sl;
						}
					}
				}
			}	
		}

		.data-table {
			.total {
				width: 15%;
			}
		}

		.orders {
			margin: 0 !important;
			border: 0 none;
		}

		.box-reviews {
			margin-top: $gap-m;

			li {
				padding: $gap-ls $gap-xl;

				h1, h2, h3, h4 {
					a {
						color: $c-black;

						&:hover {
							color: $c-hot;
						}
					}
				}
			}
		}
	}

	/* Order Details Page */
	.order-info {
		background-color: $c-gray-dark;
	    padding: $gap-xl;
	    border: 0 none;
	    margin: 0;

	    dt,
	    dd,
	    ul,
	    li {
	        color: $c-white;
	    }
	}

	.order-date, .order-info-box {
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		border-color: $c-gray-dark;
		border-style: solid;
		border-width: 0 1px;
		margin: 0 !important;
		padding: $gap-xl;
	}

	.order-info-box {
		border-top-width: 1px !important;
		border-top-style: dashed;
	}

	.order-info-box + .order-info-box {
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		border-bottom: 1px solid $c-gray-dark;
		border-image: none;
		border-left: 1px solid $c-gray-dark;
		border-right: 1px solid $c-gray-dark;
		border-width: 0 1px 1px;
		padding: $gap-xl;
	}

	.order-details {
		padding: $gap-xl;

		h2 {
			border-bottom: 1px dotted $c-gray-dark;
			color: $c-black;
			font-size: $font-ml;
			font-weight: bold;
			margin-bottom: $gap-xl;
			padding-bottom: $gap;
		}

		.product-name {
			color: $c-black;
		}

		.data-table {
			border-width: 0 1px;
			border-color: $c-gray-dark;
			border-style: solid;
			margin-bottom: $gap-xl;

			tfoot {
				tr {
					background-color: $c-gray-dark;
					color: $c-white;

					td {
						color: $c-white;
					}
				}
			}

			th {
				background-color: $c-gray-dark;
				color: $c-white;
			}

			td {
				a {
					color: $c-black;

					&:hover {
						color: $c-hot;
					}
				}
			}

			tbody {
				td {
					color: $c-black;
				}
			}
		}

		.back-link {
			a {
				&:hover {
					text-decoration: none;
				}
			}
		}

		.buttons-set {
			padding-left: 0;
		}
	}

	.orders, #my-reviews-table {
		border-top: 5px solid $c-gray-dark;
		border-bottom: 5px solid $c-gray-dark;

		background-color: $c-white;
		margin: $gap-vert-xxl !important;

		tr {
			border-top: 1px dotted $c-grey-disabled;

			td {
				padding: $gap-xl $gap-n;

				a {
					color: $c-gray-dark;

					&:hover {
						color: $c-hot;
					}
				}
			}

			.total, .status {
				width: 15%
			}

			.status {
				em {
					color: $c-alert;
				}
			}

			&:first-of-type {
				border: 0 none;
			}
		}
	}

	.clean-table {
		border: 1px solid $c-gray-dark;

		thead {
			background-color: $c-gray-dark;

			th {
				border: 0 none;
				padding: $gap;
				font-size: $font-l;
				font-weight: bold;
				color: $c-white;
			}
		}

		tbody {
			tr {
				border-top: 5px solid $c-gray-dark;

				&:first-of-type {
					border: 0 none;
				}
			}

			td {
				vertical-align: top;
				color: $c-black;
				padding: $gap-xl $gap-ls $gap-xxl $gap-ls;

				.button, .button-secondary {
					background-color: $c-grey-add;
					display: block;
					text-align: center;
					color: $c-black;
					padding: $gap-m;
					margin-top: 0;
					margin-bottom: $gap-m;
					font-size: $font-m;

					&:hover {
						background-color: $c-white;
					}
				}
			}

			.customer-wishlist-item-cart {
				.btn-cart, .button-secondary {
					
				}
			}
		}

		.customer-wishlist-item-remove {
			a {
				span {
					font-size: $font-ml;

					&:hover {
						color: $c-hot;
					}
				}
			}
		}

		@include bp(max-width, $screen-md) {
			td {
				padding: $gap !important;
			}

			.customer-wishlist-item-info {
				margin-bottom: 0;

				h3 {
					border-top: 1px dotted $c-grey-disabled;
					border-bottom: 1px dotted $c-grey-disabled;
					padding-top: $gap-ls;
					padding-bottom: $gap;

					a {
						font-size: $font-ml;
					}
				}

				.item-manage {
					border-bottom: 1px dotted $c-grey-disabled;
					padding-bottom: $gap-xl;

					.button {
						width: 100%;
						margin-bottom: 0;
						font-size: $font-l;
					}
				}
			}

			.customer-wishlist-item-quantity {
				overflow: auto;
				padding-bottom: $gap !important;

				.qty {
					float: right;
					width: 75%;
					text-align: center;
					vertical-align: middle;
					padding: $gap !important;
				}

				&:before {
					@include beforeTableCell;
				}
			}

			.customer-wishlist-item-price {
				overflow: auto;
				padding-top: 0 !important;
				padding-bottom: 0 !important;

				.price-box {			
					float: right;
					width: 75%;
					margin: 0;
					text-align: center;
					vertical-align: middle;
					padding: $gap !important;
					background-color: $c-white;
				}

				.regular-price {
					font-size: $f-size-xl;
				}

				&:before {
					@include beforeTableCell;
				}
			}

			.customer-wishlist-item-cart {
				width: 100% !important;
				padding-top: $gap !important;
				padding-bottom: $gap-xl !important;
				overflow: auto;

				.cart-cell {
					width: 100% !important;

					.button {
						padding: $gap !important;
						width: 100% !important;
						margin: 0 !important;
						font-size: $font-ml !important;
					}
				}

				p {
					width: 100% !important;

					a {
						padding: $gap !important;
						width: 100% !important;
						margin: 0 !important;
						margin-bottom: $gap !important;
						font-size: $font-ml !important;
					}
				}
			}

			.customer-wishlist-item-remove {
				a {
					position: relative;
					right: 85px;
					top: $gap-xl;

					.glyphicons {
						display: block;
						font-size: $font-xxxl;
					}
				}
			}
		}
	}

	/* Errors, Alerts and Notifications */
	.error-msg {
		color: $c-metal;

		h1, h2, h3, h4 {
			color: $c-metal;
			text-transform: none;
		}

		a {
			display: block;
			font-weight: bold;
			margin: $gap-vert-m;
		}
	}

	@include bp(max-width, $screen-sm) {
		.product-view {
			.product-image {
				margin: 0;
			}
		}
	}
}

@mixin sideinner {
	float: none;
	display: table-cell;
	vertical-align: top;

	.box, .block-list, .block-account, .block-cart {
		padding: $gap-xl $gap-xl 0 $gap-xl;
		margin-bottom: 0;

		h4, .block-title {
			@include headerBlock;
		}

		.block-title {
			font-size: 1.4em;

			strong {
				color: $c-white;
			}

			span {
				text-transform: capitalize;
				cursor: pointer;
			}
		}

		.block-content {
			margin-top: $gap-xl;

			ol {
				li {
					margin: 0 0 $gap-ls 0;
					overflow: auto;

					a {
						display: block;
						color: $c-white;

						&:hover {
							text-decoration: underline;
						}
					}

					.img_align {
						float: left;
						width: 20%;
					}

					.product-name {
						float: right;
						width: 80%;
						font-weight: bold;
						color: $c-gray-hdr;
						padding-left: $gap-ls;

						&:hover {
							color: $c-white;
						}
					}
				}
			}
		}

		label {
			font-size: $font-ml;
			font-weight: normal;
			color: $c-gray-hdr;
			padding: $gap-xl 0 $gap-m 0;

			&:first-of-type {
				padding-top: $gap;
			}
		}

		input, select {
			width: 100%;
			display: block;
		}

		.range {
			input {
				width: 25%;
				display: inline-block;
			}
		}

		select {
			color: $c-black;
		    padding: $gap-m;
		    border: 0 none;
		    border-radius: 0;
		}

		button {
			margin-top: $gap-xl !important;

			@include btnaction;
		}

		&.mini-advanced-search { /* Bottom padding fix */
			padding-bottom: $gap-xl;
		}

		&.box {
			padding: 0;
		}

		&.block-list {
			padding: 0;

			.block-title {
				font-size: 1.4em;
			}
		}
	}

	/* Sidebar Break out */
	.sidebar-out {
		margin: $gap-xl;

		h4, .block-title {
			@include headerBlock;
		}

		.block-title {
			font-size: $font-xl;

			strong {
				color: $c-white;
			}

			span {
				text-transform: capitalize;
				cursor: pointer;
			}
		}
	}

	.box-shout {
		background: $c-black url("../images/bg_support.jpg") no-repeat left top;
		margin-top: $gap-xl;
		padding: $gap-xxl $gap-xl $gap-xl $gap-xl;

		.shout-inner {
			font-size: $font-l;
		}
	}

	/* Sidebar Category List */
	.cat-hdr {
		margin: $gap 0 $gap-l 0;
	}

	.cat-links {
	    margin-top: $gap;
	    margin-bottom: $gap-l;
	    padding: 0;

	    li {
	        display: block;
	        margin: 0 0 $gap-sl;
	        padding-bottom: $gap-s;
	        border: 0 none;

	        a {
	            display: block;
	            font-size: $font-ml;
	            padding: 0;
	            color: $c-gray-hdr;
	            font-weight: bold;
	        }
	    }
	}

	/* Sidebar Accordian */
	.m-filter-item-list {
        margin-top: $gap;
        display: none;

        li {
        	border: 0 none;
            display: block;
            margin: 0 0 $gap-sl;
            padding-bottom: 0;

            a {
            	color: $c-gray-hdr;
                display: block;
                font-size: $font-l;
                font-weight: 700;
                padding: 0;
            }
        }
    }

    .block-title { 
    	.halflings {
            float: right;
            font-size: $font-xs;
            padding-top: $gap-n;
            cursor: pointer;
        }
	}

	.searchFilter {
        /*display: none;*/
        background-color: $c-gray-highlight;
        border: 0 none;
        border-radius: 0;
        color: $c-black;
        font-size: 1.1em;
        height: 40px;
        padding: $gap;
        width: 100%;
        margin-top: $gap;
        margin-bottom: $gap-l;
    }

    .currently {
		background-color: $c-bg;
		padding: $gap;
		margin-top: $gap-ls;

		ol {
			padding-left: 0 !important;
		}
	}

	.actions {
		text-align: center !important;
		margin-top: 0;
		margin-bottom: $gap-xl !important;
		background-color: $c-gray-highlight;

		a {
			color: $c-black;
			display: block;
			float: none !important;
			padding: $gap-s 0;
		}
	}

	.block-account {
		li {
			a { 
				strong {
					font-weight: bold;
				}
			}
		}

		@include bp(max-width, $screen-md) {
			border: 0 none;

			.block-content {
				border: 0 none;
			}
			
			.block-title {
				strong {
					background: none;
					border: 0 none;

					&:hover {
						background: none;
					}
				}

				&:active {
					strong {
						background: none;
						border: 0 none;

						&:hover {
							background: none;
						}
					}
				}
			}
		}
	}

	/* Codnitive Sidebar Overrides */
	#sidebar-nav {

		.collapsible-wrapper {
			span {
				text-transform: capitalize;
			}	
		}

		h4, .block-title {
			@include headerBlock;
		}

		.block-title {
			font-size: $font-xl;

			strong {
				color: $c-white;
			}
		}

		.block-content {
			margin-top: $gap;
			padding: 0;
		
			#sidebar-nav-menu {
				li {
					background: none;
					padding: $gap-sl 0;
					border: 0 none;

					a {
						color: $c-gray-hdr;
						line-height: inherit;

						&:hover {
							color: $c-white;
							text-decoration: underline;
						}
					}

					span.product-count {
						color: $c-white;
					}
				}	
			}
		}

		@include bp(max-width, $screen-md) {
			border: 0 none;

			.block-content {
				border: 0 none;
			}

			.block-title {
				strong {
					background: none;
					border: 0 none;
				}

				&:active {
					strong {
						background: none;
						border: 0 none;
					}
				}
			}
		}
	}

	.close-menu {
		display: none;
	}

	@include bp(max-width, $screen-sm) {
		display: none;
		position: absolute;
		z-index: 1;
		width: 70% !important;

		.sidebar-out {
			margin-top: 40px;
		}

		.close-menu {
			display: block;
			position: absolute;
			top: $gap;
			right: $gap;
			color: $c-white;
			text-decoration: none;
		}
	}
}

/* Toolbar */

@mixin toolBarContain {
	display: inline-block;
	font-weight: normal;
}

@mixin toolBarBlock {
	display: inline-block;
	margin-left: $gap-sl;

    a, strong, span, label {
    	display: inline-block;

    	.glyphicons {
    		font-size: $font-xxl;
    	}
    }

    a {
    	display: inline-block;
    	color: $c-gray-dark;

    	&:hover {
        	color: $c-hot;
        	cursor: pointer;
    	}
    }

    span, label {
    	font-size: $font-ml;
    	margin-left: $gap;

    	&:first-of-type {
    		margin-left: 0;
    	}
    }

    label {
    	margin-right: $gap-sl;

    	&:last-of-type {
    		margin-left: $gap-sl;
    	}
    }

    strong {
    	color: $c-hot;
    }

    &:first-child {
    	margin-left: 0;
    }

    @include bp(max-width, $screen-md) {
    	display: block;
    	margin-left: $gap-xl;
    }
}

/* List Content */
@mixin striked {
	color: $c-grey-disabled;
    text-decoration: line-through;
}

/* Buttons */

@mixin btnaction {
	background-color: $c-grey-add;
	color: $c-black;
	font-size: $font-ml;
	font-weight: bold;
	border: 0 none;
	margin-top: $gap-l;
	padding: $gap-hor-m;
	text-transform: uppercase;

    &:hover {
        background: $c-hot;
        color: $c-white;
        cursor: pointer;
    }
    &:active {
        background: $c-grey-add;
        color: $c-white;
    }
    &:focus {
        background-color: $c-grey-add;
        outline: none;
        color: $c-white;
    }

    &.button2 {
    	@include btnactionSmall;
    }
}

@mixin btnactionSmall {
	margin: 0;
	padding: $gap-sl $gap-ls;
	color: $c-white;
	font-size: $font-l;
	font-weight: 500;
}

/* Headers */
@mixin headerPage {
	border-bottom: 1px dotted $c-grey-disabled;
	font-size: $font-xxl;
	font-weight: 500;
	margin-bottom: 30px;
	padding-bottom: $gap;
	text-transform: none;
}

@mixin headerBlock {
	border-bottom: 1px dotted $c-grey-disabled;
	font-size: $font-xl;
	font-weight: 900;
	text-transform: none;
    padding-bottom: $gap;
}

@mixin beforeTableCell {
	float: left;
	width: 25%;
	margin: 0 !important;
	padding-left: $gap;
	padding-top: $gap-ls;
	padding-bottom: $gap-ls;
	background-color: $c-light-form;
}