<p>As a Dallas Gun Store, WSM Tactical was founded in 2014 by former military, law enforcement, and civilian competition shooters, we are a retail dealer of <a href="https://www.wsmtactical.com/firearms.html">firearms</a>, <a href="https://www.wsmtactical.com/optics.html">optics</a>, <a href="https://www.wsmtactical.com/ammunition.html">ammunition</a>, accessories and body armor.&nbsp; As apart of our core business, we offer custom firearm builds as well as various customization and machining services. Aside from our expertise in Weapon Systems, we also offer a variety of products ranging from <a href="https://www.wsmtactical.com/catalogsearch/advanced/result/?description=camp">camping supplies</a> to <a href="https://www.wsmtactical.com/catalogsearch/advanced/result/?description=survival">survival gear</a> should you ever have the need to stock up for your next hunting trip.</p>

<div class="inner">
	<div class="cn-block">
		<h3>WSM Tactical is an Authorized Dealer / Distributor of:</h3>
		<ul>
			<li>BlackHawk Products Group</li>
			<li>Bravo Company</li>
			<li>Bushnell</li>
			<li>Century Int'l Arms</li>
			<li>Colt Mfg. Company</li>
			<li>Desantis Gunhide</li>
			<li>Cerakote</li>
			<li>DPMS</li>
			<li>Federal</li>
			<li>FNH-USA</li>
			<li>Glock</li>
			<li>Heckler &amp; Koch</li>
			<li>Hornady</li>
			<li>Leupold</li>
			<li>Magpul Industries</li>
			<li>Magtech Recreational Product</li>
			<li>Remington Arms</li>
			<li>Sig Sauer</li>
			<li>Smith &amp; Wesson</li>
			<li>Spike's Tactical</li>
			<li>Springfield</li>
			<li>Surefire</li>
			<li>Taurus</li>
			<li>Trijicon</li>
			<li>Walther</li>
			<li>Beretta</li>
			<li>Barrett</li>
			<li>EOtech</li>
			<li>Aimpoint</li>
			<li>Arsenal</li>
			<li>LaRue</li>
			<li>LMT</li>
			<li>Daniel Defense</li>
			<li>Stag Arms</li>
			<li>Knights Armament</li>
			<li>Troy</li>
			<li>Yankee Hill</li>
			<li>Rock River Arms</li>
			<li>VLTOR</li>
			<li>AAC</li>
			<li>CZ-USA</li>
			<li>Ruger</li>
			<li>CCI</li>
			<li>Armalite</li>
			<li>Midwest Industries</li>
			<li>Core15</li>
			<li>SilencerCO</li>
			<li>Mossberg</li>
			<li>Kel-Tec</li>
			<li>AR500</li>
			<li>Xtreme Bullets</li>
			<li>ATK Products</li>
			<li>As well as many more...</li>
		</ul>
	</div>
	<div class="cn-block float_right">
		<img src="https://www.wsmtactical.com/skin/frontend/wsm/default/images/about/wsm-gun-shop.jpg" alt="WSM Tactical Gun Shop Lewisville, TX">

		<img src="https://www.wsmtactical.com/skin/frontend/wsm/default/images/about/wsm-ammo.jpg" alt="WSM Tactical Ammunition Lewisville, TX">

		<img src="https://www.wsmtactical.com/skin/frontend/wsm/default/images/about/wsm-big-guns.jpg" alt="WSM Tactical Big Guns">
	</div>
</div>

<p style="display: inline-block;">WSM Tactical is located in <a href="http://www.cityoflewisville.com/" target="_blank">Lewisville, TX</a>, a suburb of Dallas, TX. The WSM Tactical store is situated a few minutes off of I-35 highway and a short 10 minute drive north of DFW Aiport. To get directions to our DFW gun store, please see the Google Map below;</p>

<div class="gmaps-large">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3343.757740224506!2d-97.00373458395322!3d33.06284427666183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c31fe07408945%3A0xab73a68cd4e9abe8!2sWSM+Tactical+LLC!5e0!3m2!1sen!2sus!4v1461098423573" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class="cn-block gmaps-small">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3343.757740224506!2d-97.00373458395322!3d33.06284427666183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c31fe07408945%3A0xab73a68cd4e9abe8!2sWSM+Tactical+LLC!5e0!3m2!1sen!2sus!4v1461104197112" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<p>To contact WSM Tactical by phone or e-mail, please use our <a href="https://www.wsmtactical.com/contact-wsm-tactical">Contact page</a>.</p>