/* IE Overrides for IE9 & Above */
.cms-home {
    background: #1b1e21 url('../images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.header-language-background .browse {
	position: relative;
	top: 12px;
}

.bg_browse {
	top: -50px !important;
	height: 90px !important;
}

.product-view .qty {
	height: 71px !important;
}

.footer .block-subscribe .input-text {
	height: 40px !important;
}

.nav-drop .validate-email {
	height: 45px !important;
}